name: publish
on: [push]
jobs:
  build-partondensity-docker-image:
    runs-on: ubuntu-latest
    name: Build PartonDensity Docker image
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 2 
    - name: Check if the Docker file was changed
      id: changed-docker-files
      uses: tj-actions/changed-files@v38
      with:
          files: Dockerfile

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the PartonDensity Docker image
      if: steps.changed-docker-files.outputs.any_changed == 'true'  
      run: |
         docker build . --tag ghcr.io/andriish/betterci:latest
         docker run ghcr.io/andriish/betterci:latest
         docker push ghcr.io/andriish/betterci

  run-in-partondensity-docker-image:
    name: Run in PartonDensity Docker image
    runs-on: ubuntu-latest
    needs: build-partondensity-docker-image
    container:
            image: ghcr.io/andriish/betterci:latest
            credentials:
               username: ${{ github.actor }}
               password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run
      run : |
         g++ main.cc -o main.exe
